@model List<CoursesDatabase.Models.Entities.Course>

@{
    ViewData["Title"] = "Courses Catalog"; 
}

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Courses Catalog</h1>
</div>
<div class="text-center">
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.ToString()</td>
            <br>
        </tr>
    }
</div>
</body>
</html>
