@model List<CoursesDatabase.Models.Entities.Course>

@{
    ViewData["Title"] = "Courses Catalog"; 
}

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Courses Catalog</h1>
    
    <button id="load-comp-button">COMP</button>
    <button id="load-soen-button">SOEN</button>
</div>

<input id="my-input" />
<select id="button-select">
    <option value="atl">Atlanta</option>
    <option value="ber">Berlin</option>
    <option value="chi">Chicago</option>
    <option value="lon">London</option>
</select>
<button id="show-picker">Show picker</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    var items = ['Option 1', 'Option 2', 'Option 3']; // Example items

    // Append each item as a span element
    items.forEach(function(item) {
        $('#inlineSelectionList').append('<span class="selectable">' + item + '</span> ');
    });

    // Click event for each item
    $('.selectable').click(function() {
        $('.selectable').removeClass('selected'); // Remove 'selected' from all items
        $(this).addClass('selected'); // Add 'selected' to clicked item
    });
});
</script>

<script>
$(document).ready(function() {
    $("#load-comp-button").click(function() {
        $.ajax({
            type: "GET",
            url: "/CourseViewer/GetCoursesByType?courseType=COMP",
            success: function(data) {
                formatCourses(data);
            },
            error: function (error) {
                $('#info-container').text(error);
            }
        });
    });
});
</script>

<script>
$(document).ready(function() {
    $("#load-soen-button").click(function() {
        $.ajax({
            type: "GET",
            url: "/CourseViewer/GetCoursesByType?courseType=SOEN",
            success: function(data) {
                formatCourses(data);
            },
            error: function (error) {
                $('#info-container').text(error);
            }
        });
    });
});
</script>

<div class="text-center" id="info-container">
    <script>
        function loadCompCourses() {
            $.ajax({
                type: "GET",
                url: "/CourseViewer/GetCoursesByType?courseType=comp",
                success: function(data) {
                    formatCourses(data);
                },
                error: function (error) {
                    $('#info-container').text(error);
                }
            });
        }
        
        loadCompCourses()
    </script>
</div>
</body>
</html>
